:root {
    --color-accent: oklch(65% 0.2 145);
    accent-color: var(--color-accent);
}

html {
    color-scheme: light dark;
    background-color: canvas;
    color: canvastext;
}

body {
    font: 100%/1.5 system-ui;
    max-width: 100ch;
    margin: 0 auto;
    padding: 1rem;
}

.profile-pic {
    max-width: 200px;
    height: auto;
    display: block;
    margin: 1rem 0;
}

nav ul,
nav li {
    display: contents;
}

nav {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid oklch(80% 3% 200);
    /* soft gray border */
}


/* Navigation links */

nav a {
    flex: 1;
    text-align: center;
    text-decoration: none;
    color: inherit;
    padding: 0.5em;
    position: relative;
}

nav a.current::after,
nav a:not(.current):hover::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--color-accent);
}

nav a.current::after {
    height: 4px;
}

nav a:not(.current):hover::after {
    height: 2px;
    transition: all 0.3s ease;
}

nav a.current::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    width: 100%;
    background-color: var(--color-accent);
}

nav {
    --border-color: oklch(50% 10% 200 / 40%);
    border-bottom: 1px solid var(--border-color);
}

nav a:hover {
    background-color: color-mix(in oklch, var(--color-accent), canvas 85%);
}

.color-scheme {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 80%;
    font-family: inherit;
}

.color-scheme select {
    font: inherit;
}